<!DOCTYPE html>
<html>
    <head>
        <title>Sample demo</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
        </script>
    </head>
    <body>
        <h1 id="greeting">Hi, I'm the definer</h1>
        <div id="chonker">
            <!--<form id="frm" action="{{ url_for("page_home") }}" method="post">-->
            <!--testing removing action, url_for and using fetch() instead-->
            <form id="frm">
                <input type="text" id="term" name="termy" placeholder="Term">
                <button id="btn" type="submit">Submit</button>
            </form>
        </div>
        <div>
            <script>
                const url = 'http://127.0.0.1:8000/'
            </script>
            <p id="textbox">
                <script>
                    //defining get response
                     async function getResponse(url, data = {}) {
                        try {
                        const response = await fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': '*/*',
                                'Access-Control-Allow-Origin': '*'
                            },
                            body: JSON.stringify(data)
                        })
                            return response;

                        } catch(err){
                            console.log(err);
                            return ["FAILURE", false, null];
                        }
                    };
                    
                    document.getElementById("btn").addEventListener("click", function(){
                        const term = document.getElementById("term").value;
                        const data = {'termy':term};
                        //resp is an object promise - how to get text out?
                        getResponse(url, data)
                            .then(response => response.text())
                        //it's not dealing with the promise response
                        console.log(`Response is ${term}`);
                        document.getElementById("textbox").innerHTML = `Defining '${term}'...`;
                    });
                </script>
                Receiving response...
            </p>
        </div>
        <p>
        </p>
    </body>
</html>