<!DOCTYPE html>
<html>
    <head>
        <title>Sample demo</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
        </script>
    </head>
    <body>
        <h1 id="greeting">Hi, I'm the definer</h1>
        <div id="chonker">
            <!--<form id="frm" action="{{ url_for("page_home") }}" method="post">-->
            <!--testing removing action, url_for and using fetch() instead-->
            <form id="frm">
                <input type="text" id="term" name="termy" placeholder="Term">
                <button id="btn" type="submit">Submit</button>
            </form>
        </div>
        <div>
            <script>
                //define term, url
                const termForm = document.getElementById("term").value;
                //data = {'termy': termForm}
                const url = 'http://127.0.0.1:8000/'
                //test if termform is captured -> it's an empty string
                //try accessing termform on click
                //console.log(data);
               // console.log(`termform is ${termForm}`);

                //function to post data, get response
                /*async function getResponse(url, data = {}) {
                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                            },
                        body: JSON.stringify(data)
                    });
                    return response.json();
                }*/
                
                //post data on click
                /*document.getElementById("btn").addEventListener("click", getResponse(url, data ={
                    'termy': termForm
                }));*/
                
            </script>
            <p id="textbox">
                <script>
                    //defining get response
                     async function getResponse(url, data = {}) {
                        try {
                        const response = await fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });
                        return response.text();
                        } catch(err){
                            console.log(err);
                            return [false, null];
                        }
                    };
                    
                    document.getElementById("btn").addEventListener("click", function(){
                        const term = document.getElementById("term").value;
                        const data = {'termy':term};
                        var resp = getResponse(url, data);
                        //it's not dealing with the promise response
                       // console.log(`Response is ${resp}`);
                        document.getElementById("textbox").innerHTML = resp;
                        //document.getElementById("textbox").innerHTML = `Defining '${term}'...`;
                    });
                </script>
                Receiving response...
            </p>
        </div>
        <p>
        </p>
    </body>
</html>